/************ FONTS START **************/
/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/**************** FONTS END************ */

/* ROOT STYLES START */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}
/* /ROOT STYLES END */

/* SITE HEADER STYLES START */
.site-header__wrapper{
    margin-bottom: 140.46px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header__item:not(:last-child){
    margin-right: 30px;
}
.site-header__link{
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #333333;
}
.site-header__item:nth-child(4){
    margin-right: 40px;
}
.site-header__item:nth-child(5) .site-header__link{
    border-bottom: 1px;
    border-bottom-color:#333333;   ????????????
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #666666;
}
/* SITE HEADER STYLES END */

/* HERO SECTION START */
/* .hero-section{
    margin-bottom: 68px;
    position: relative;
    border-bottom:2px solid #DDDDDD;
}
.hero-section__wrapper{
    width: 490px;
    padding-bottom: 185px;
}
.hero-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #000000;
}
.hero-text{
    margin-bottom: 30px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 150%;
    color: #777777;
    border-left: 3px solid #888888;
}
.hero-btn{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #EA625C;
    padding: 12px 38.5px;
    display: inline-block;
}
.hero-image{
    width: 587px;
    height: 565px;
    position: absolute;
    top: -55px;
    right: calc(50% - 835px);
} */
/* HERO SECTION END */

/* INFO SECTION STYLES START*/
/* .info-list{
    margin-bottom: 246.46px;
}
.info-list{
    display: flex;
    justify-content: space-between;
}
.info-item{
    width: 280px;
}
.info-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #222222;
}
.info-text{
    font-size: 15px;
    line-height: 160%;
    color: #333333;
}
.info-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-transform: uppercase;
    color: #EA625C;
} */
/* INFO SECTION STYLES END */

/* NIKE SECTION STYLES START */
/* .nike-section{
    position: relative;
    margin-bottom: 176.54px;
}
.nike-wrapper{
    width: 490px;
}
.nike-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #000000;
}
.nike-text{
    margin-bottom: 30px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 150%;
    color: #777777;
    border-left: 3px solid #888888;;
}
.nike-btn{
    padding: 12px 90px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #EA625C;
}
.nike-img{
    position: absolute;
    width: 400px;
    height: 599.93px;
    top: -75px;
    right: calc(50% - 500px);
} */
/* /* NIKE SECTION STYLES END */
